repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.0
  hooks:
  - id: end-of-file-fixer
  - id: trailing-whitespace
    args: [--markdown-linebreak-ext=md]
  - id: check-case-conflict
  - id: mixed-line-ending
    args: [--fix=lf]
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.920
  hooks:
  - id: mypy
    files: gutenTAG
    additional_dependencies:
      - types-PyYAML
      - types-jsonschema
- repo: https://github.com/psf/black
  rev: '23.1.0'
  hooks:
  - id: black
- repo: https://github.com/pycqa/flake8
  rev: '6.0.0'
  hooks:
  - id: flake8
