$schema: "../gutenTAG/config/schema/guten-tag-generation-config.schema.yaml"

timeseries:
- name: demo
  length: 1000
  semi-supervised: false
  supervised: false
  base-oscillations:
  - kind: sine
    frequency: 4.0
    amplitude: 1.0
    variance: 0.05
  anomalies:
  - position: middle
    length: 50
    kinds:
    - kind: pattern
      sinusoid_k: 10.0
  - position: end
    length: 10
    kinds:
    - kind: amplitude
      amplitude_factor: 1.5
